/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/spec/reports/
/tmp/
/pkg/
/vendor/

# rspec failure tracking
.rspec_status

# environment variables
.env

# vscode configurations
.vscode

# ignore lock file for gem
Gemfile.lock

# ignore built package 
kontent-delivery-sdk-ruby-*.gem